<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>
    <h1> Courses List</h1>

    <table border="2">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Instructor</th>
            <th>Rating</th>
        </thead>
        {% for course in course_list %}
        <tr>
            <td> <a href="/{{ course.id }}" >{{ course.id }} </a></td>
            <td>{{ course.name }}</td>
            <td>{{ course.description }}</td>
            <td>{{ course.instructor }}</td>
            <td>{{ course.rating }}</td>

        </tr>
        {% endfor %}
    </table>

    <br/><br/><br/>

    <a href="/create">Add Course</a>

</body>
</html>